*
{
  margin: 0;
  padding: 0;
}
.toolbar
{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.logo-tomi
{
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.logo-tomi img
{
  width: 100%;
  max-width: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.navegacion
{
  width: 100%;
  max-width: max-content;
  margin: auto;
  margin-top: 15px;
  display: flex;
  list-style: none;
  font-family: 'Lato';
  font-weight: 300;
}
.navegacion li
{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  color: #cccccc;
  cursor: pointer;
}

.navegacion li:hover {
  color: #000;
}

.cont-targetas{
  width: 100%;
  margin: 20px auto;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cont-maestros{
  width: 25%;
  margin: auto;
  flex-grow: 1;
  display: block;
}
.cont-maestros h2{
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: 'Lato',sans-serif;
  color: #0f3e4d;
}
/*Targetas 3D*/
.contenedor_targeta{
  width: 90%;
  margin: 20px auto;
}
 figure{
  width: 300px;
  height: 350px;
  margin: 20px auto;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
figure img{
  width: 300px;
  height: 350px;
  display: block;
  margin: auto;
}
a
{
  text-decoration: none;
}
.contenedor_targeta a{
  display: inline-block;
}
